.fondo{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/543/979/826/sea-dawn-nature-sky-sunset-vacation-weather-ocean-sun-boat-vietnam-white-and-brown-canoe-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;    
}